<!DOCTYPE HTML>

<html>
	<head>
		<title>Daniel's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets//css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets//css/noscript.css" /></noscript>
	</head>

	<body class="is-preload-0 is-preload-1">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Home -->
					<article id="home" class="panel special">
						<div class="image">
							<img src="static/images//Profile.jpg" alt="" data-position="center center" />
						</div>
						<div class="content">
							<div class="inner">
								<header>
									<h1>Daniel Navarro</h1>
									<p>Software Engineer</p>
								</header>
								<nav id="nav">
									<ul class="actions stacked special animated spinY">
										<li><a href="#work" class="button">Projects</a></li>
										<li><a href="#about" class="button">About</a></li>
										<li><a href="#contact" class="button">Contact</a></li>
									</ul>
								</nav>
								<ul class="icons">
									<li><a href="https://github.com/Dnavarro805" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="https://www.linkedin.com/in/meet-daniel-navarro" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="static/files/Daniel Navarro Resume.pdf" class="icon solid fa-file"><span class="label">Resume</span></a></li>
								</ul>
							</div>
						</div>
					</article>

				<!-- Work -->
					<article id="work" class="panel secondary">
						<div class="image">
							<img src="static/images//Computer.jpg" alt="" data-position="center center" />
						</div>
						<div class="content">
							<ul class="actions animated spinX">
								<li><a href="#" class="button small back">Back</a></li>
							</ul>
							<div class="inner">
								<header>
									<h2>Projects</h2>
									<p>I work with full-stack software development.</p>
								</header>
								<p>Guitarist Website:<br>
								Point of reference for clients. The live entertainment business website is used to learn more about the business and its background, certify validation with client and professional reviews, and allow for communication by submitting general inquiries and requests for quotes. Designed and developed by employing HTML5, CSS3, JavaScript, and the Airtable API.
								<br><u><a href="https://navarroguitarra.com">View project</a></u></p>
								<p>Zillow Research:<br>
								Informational reference for prospective home buyers. Accessible online, it allows users to input a prospective city and have it return a quantitative analysis based on the current market on the Zillow website. Built using Python, Beautiful Soup, React, and Firebase.
								<br><u><a href="https://dnavarro805.github.io/Zillow-Research/">View project</a></u></p>
							</div>
						</div>
					</article>

				<!-- About -->
					<article id="about" class="panel secondary">
						<div class="image">
							<img src="static/images//Life.jpg" alt="" data-position="center center" />
						</div>
						<div class="content">
							<ul class="actions animated spinX">
								<li><a href="#" class="button small back">Back</a></li>
							</ul>
							<div class="inner">
								<header>
									<h2>About</h2>
									<p>My life is in my fingers and my passion is in software, creating, and learning.</p>
								</header>
								<p>My love is in the creative process, the visualization and creation of putting all the pieces of the puzzle together and making it all work is what drives me and pushes me to grow.</p>
								<p>My drive for constant personal growth led me through 4 years of university courses wherein I learned fundamental theory and practicality using Python, Java, C, and C++. I am now exited to apply my skills on larger development teams, take on more challenging problems, and aid in maximizing productivity while continuing to learn, grow, and collaborate with both teammates and clients.</p>
							</div>
						</div>
					</article>

				<!-- Contact -->
					<article id="contact" class="panel secondary">
						<div class="image">
							<img src="static/images//Contact.jpg" alt="" data-position="bottom center" />
						</div>
						<div class="content">
							<ul class="actions animated spinX">
								<li><a href="#" class="button small back">Back</a></li>
							</ul>
							<div class="inner">
								<header>
									<h2>Contact</h2>
								</header>
								<form action="https://formspree.io/f/mrgrzvzb" method="POST">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="5"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><button type="submit">Send Message</button></li>
									</ul>
								</form>
							</div>
						</div>
					</article>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Daniel Navarro</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets//js/jquery.min.js"></script>
			<script src="static/assets//js/browser.min.js"></script>
			<script src="static/assets//js/breakpoints.min.js"></script>
			<script src="static/assets//js/util.js"></script>
			<script src="static/assets//js/main.js"></script>

	</body>
</html>